form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 96px 409px;
  color: #3b465c;
}

form > fieldset {
  width: 60px;
}

.formDescription > h2 {
  background-color: #3b465c;
  color: #f8ebee;
  display: inline-block;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

.formDescription > h4 {
  color: #3b465c;
  display: inline-block;

  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

label > input {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  form {
    margin: 0px 48px 409px;
  }
}
