.formContainer {
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto 203px;
  padding: 16px;
  text-align: center;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #3b465c;
}

form > fieldset {
  width: 60px;
}

.formDescription > h2 {
  background-color: #3b465c;
  color: #f8ebee;
  display: inline-block;
  margin: 0 96px 0 96px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

.formDescription > h4 {
  color: #3b465c;
  display: inline-block;
  margin: 24px 96px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

label > input {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .formDescription > h2 {
    margin: 0 48px 0 48px;
  }
  .formDescription > h4 {
    margin-left: 48px;
  }
}
