.cityDetailContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cityInfo {
  display: flex;
  padding: 96px;
  gap: 10px;
}

.weatherContainer {
  width: 500px;
}
